---
import Layout from '~/layouts/Layout.astro';
import { getCollection } from 'astro:content';

// Fetch the network collection
const networkProducts = await getCollection('network');
---

<Layout>
  <h1>Network Products</h1>

  <ul>
    {networkProducts.map((product) => (
      <li>
        <a href={`/network/${product.slug}`}>{product.data.title}</a>
      </li>
    ))}
  </ul>
</Layout>