---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const products = await getCollection("products");

    return products.map((product) => ({
        params: { id: product.id },
        props: { product },
    }));
}


const { product } = Astro.props;
---

<Layout>
    <h1>{product.data.title}</h1>
    <p>{product.data.body}</p>
    <p>Price: ${product.data.icon}</p>
</Layout>
