---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

// Fetch all products
const allProducts = await getCollection('products');

// Limit the products to only two
const products = allProducts.slice(0, 2);
---

<Layout>
  <h1>All Products</h1>
  <ul>
    {products.map(product => (
      <li>
        <h2>
          <!-- Link to the individual product page -->
          <a href={`/products/${product.id}`}>{product.data.title}</a>
        </h2>
      </li>
    ))}
  </ul>
</Layout>